/* External CSS - are the styles that are included on a seperate css file */

/* Universal Selector */
* {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	

}

body {

	background-color: skyblue;
}

nav {

	background-color: white;
}

#landing > ol {

	list-style-type: none;
}

a {


}

h1 {

	color: yellow;
	text-align: center;
	font-size: 2rem;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	display: inline;  /*changes the default behaviour of an element*/
}


nav a, #register a , #landing a {

	text-decoration: none;

}
nav > div	{

	display: inline;
	float: right;

}

img ~ div {

	height: 100vh;
	text-align: center;
}


img {
	height: 300px;
	width: 300px;
	border-radius: 50px;
}
/*h1 { */

	/*background-color: black;*/
/*}*/

p { 

	font-size: 20px;

}
#zuitt-motto{ /* id selector  */
	letter-spacing: 5px;
}

#first-paragraph {

	color: grey;
}

#register > form > button {

	background-color:  #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/* Class selector - to target with similar style and this is a good approach 
to use for elements that have similar style accross the whole application */

.heading-n {

	text-transform: uppercase;
}

.offering-item {

	letter-spacing: 5px;
}

/*attribute selector*/
input[required] {

	border-width: 2px;
	border-style: solid;
	border-color: navy;
}


/* CSS Selector Combination */

/*div + p {

	color: red;
}*/


/*div ~ p {
	color: blue;
}*/

/*#sample > p {

	color: orange;
}
*/

/*#sample p{

	color: grey;
}
*/

/*grouping selector (,) - to select the multiple elements to applied
applies the same styling for them*/


/*#sample > p, #sample ~ p {

	color: green;
}*/


/*For expirement purpose lang to yung code below mam hahaha :>> */


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* The changes will only apply when the condition is met.
from the sample below the condition is the 'max-width: 600px' which means if 
screen is equal to that value the 'background-color: teal;' will be applied
to the 'body' tag */
@media only screen and (max-width: 600px) {
  body {
    background-color: teal;
  }
}